# Data directories

/kafka-insecure/data/zk-1/log/**
/kafka-insecure/data/zk-1/data/**
/kafka-insecure/data/kafka-1/data/**
/kafka-insecure/data/control-center/**

/kafka-sasl-plain/data/zk-1/log/**
/kafka-sasl-plain/data/zk-1/data/**
/kafka-sasl-plain/data/kafka-1/data/**
/kafka-sasl-plain/data/control-center/**

/kafka-sasl-scram/data/zk-1/log/**
/kafka-sasl-scram/data/zk-1/data/**
/kafka-sasl-scram/data/kafka-1/data/**
/kafka-sasl-scram/data/control-center/**
